---
import Logo from './Logo.astro';
---

<header class="bg-white h-[88px]">
	<div class="container mx-auto px-4">
		<div class="relative flex items-center justify-between py-6 md:justify-start md:space-x-10">
			<div class="absolute top-[18px] flex justify-start">
				<a href="/"><Logo /></a>
			</div>
			<div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
				<a href="/platform" class="l-menu__item">Platform</a>
				<a href="#" class="l-menu__item">Customers</a>
				<a href="#" class="l-menu__item">Resources</a>
				<a href="company" class="l-menu__item">Company</a>
				<a href="#" class="l-menu__item text-orange">Login</a>
				<a href="demo" class="l-btn--gradient ml-10">Request a Demo</a>
			</div>
		</div>
	</div>
</header>
